#root {
  color: red;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: change-color 50s infinite;
}


.episodeContainer {
  width: 250px;
  height: 380px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  color: black;
}

.select-episodes,
.episodesList {
  text-align: center;
  margin: 50px 10px;
  padding: 10px;
  border-style: none;
  border-radius: 3px;
}

.select-episodes {
  font-size: 30px;
}

.seriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

p {
  margin: 0;

}

#res>p {
  margin: 40px;
  text-align: center;
}

.episodesTittle {
  text-align: center;
  padding: 15px;

}

.episodesImage {
  display: flex;
  margin: 15px auto;
  width: 180px;
  height: 120px;
}

.episodesDetails {
  padding: 0 20px;
  height: 40%;
  overflow-x: hidden;
}



.search {
  /* position: relative; */
  width: 330px;
  background-color: #fff;
  display: flex;
  margin: 50px auto;
  border-radius: 3px;
}

.search:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0170f0;
  transform: scaleX(0);
  transform-origin: center;
  transform-origin: left;
  transition: .23s;
}

.search:focus-within::before {
  transform: scale(1);
}

.search input,
.search button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #8e8e8e;

}

.input {
  width: 100%;
  padding: 10px;
}

.button {
  display: grid;
  place-items: center;
  width: 50px;
  font-size: 19px;
  cursor: pointer;
  transition: color .25s;

}

.button:hover {
  color: #0170f0;
}

#show {
  display: none;
  background-color: #308c9b;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  background: linear-gradient(180deg, black, transparent);
  height: 200px;
}

#title>h1 {
  margin: 0 40px;

}

#details {
  background: linear-gradient(0deg, black, transparent);
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
}

#details>p {
  margin: 40px 20px;
}

#btn-close {
  padding: 10px;
  text-align: right;
}

#btn-close>button {
  background: transparent;
  color: white;
  padding: 9px 12px;
  border-style: none;
  ;
}

footer {
  position: relative;
  bottom: 0;
}

@keyframes change-color {
  0% {
    background-color: #78375f;
  }

  25% {
    background-color: #d74c73;
  }

  50% {
    background-color: #f44336;
  }

  75% {
    background-color: #e28743;
  }

  100% {
    background-color: #308c9b;
  }
}